@page "/addprod/{d}"
@using GestionLaura.Clases
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager nav
@using GestionLaura.Logica

<div class="ingreso-container">
    <h1>Ingreso de @d</h1>

    <EditForm Model="@model" OnSubmit="@Guardar">
        <div class="form-row">
            <label>Introduzca el stock a ingresar</label>
            <input type="number" id="Cantidad" @bind="@model.Cantidad">
        </div>

        <div class="form-row">
            <label>Introduzca el precio del ingreso</label>
            <input type="number" min="0" id="Precio" @bind="@model.Precio">
        </div>

        <div class="form-row">
            <button type="submit" class="btn-submit">Confirmar</button>
        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public string? d{ get; set; }
    public Producto produc=new Producto();
    public ProdStock model=new ProdStock();

    public async void Guardar()
    {
        LogProductos productos = new LogProductos();
        await productos.AddProd(model,produc.Productos);

        nav.NavigateTo("/");
    }
    protected async override void OnInitialized()
    {
        LogProductos p=new LogProductos();
        await p.Cargar();   
        produc = p.Prod.Where(s=>s.Productos.Equals(d)).First();
        base.OnInitialized();
        
    }
    
}
