@page "/regsrv"
@using Microsoft.AspNetCore.Components.Forms
@using GestionLaura.Clases
@using GestionLaura.Logica
@using System.ComponentModel.DataAnnotations

<h3 class="titulo">Registro de Servicios</h3>

<div class="container">       
        <EditForm Model="@models" OnSubmit="@buscar" contextmenu="@editContext" >
            <div class="card">
                <h4>Elija el Id</h4>
                <div class="card">
                    <label>Ingrese el Id</label>
                    <input type="number" />
                </div>

                <h4>Elija la fecha</h4>
            
                <div class="card">
                    <label>Ingrese la fecha de inicio</label>
                    <input type="date"  inputmode="numeric" id="dateBeg" @bind="models.dateBeg" />
                </div>
                <div class="card">
                    <label>Ingrese la fecha final</label>
                    <input type="date" inputmode="numeric" id="deteEnd" @bind="models.dateEnd" />
                </div>
                <div class="row">
                    <button class="btn btn-group-lg" type="submit">Buscar</button>
                </div>
            </div>
                
        </EditForm>
        @if(servicios!=null){
            @foreach (RegistroServs t in servicios)
            {
                <div class="row-cols-auto">
                    <p>@t.Fecha</p>
                    <p>@t.Costo</p>
                    <p>@t.Concepto</p>
                </div>
            }
            <div class="container">
                <p>El costo total del periodo fue de: @total en @clientes clientes</p>
            </div>
            <button @onclick="descargar" class="btn btn-primary">Descargar</button>
        }
        @if(clientes==0&&servicios!=null){
            <h3>No se encontraron servicios</h3>
        }
</div>


@code {
    public float? total=0;
    public int clientes = 0;
    public Model models = new Model()
    {
        dateBeg = DateTime.Now.AddMonths(-12),
        dateEnd = DateTime.Now.AddMonths(12)
    };
    public List<RegistroServs>? servicios=null;
    private LogServ logica = new LogServ();
    public EditContext? editContext;

    private async Task buscar()
    {
        if (models.dateBeg <= models.dateEnd)
            servicios = await logica.ObtenerServiDate(models.dateBeg, models.dateEnd);
        else
            await Application.Current.MainPage.DisplayAlert("Error","Ingreso una fecha de inicio posterior a la de fin","OK");
        if(servicios!=null){
            foreach(RegistroServs r in servicios)
            {
                total = total + r.Costo;
                clientes++;
            }
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        editContext = new(models);
    }
    public async void descargar()
    {
        if (servicios != null)
            logica.Descargardo(servicios);
        else
            await Application.Current.MainPage.DisplayAlert("Alerta", "Usted esta tratando de descargar un excel en blanco", "OK");
    }
    public class Model
    {
        [Required(ErrorMessage="Fecha obligatoria")]
        public DateTime dateBeg { get; set; }
        [Required(ErrorMessage = "Fecha obligatoria")]
        public DateTime dateEnd{ get; set; }
    }
}
