@page "/weather"
@using GestionLaura.Clases;
@using GestionLaura.Logica
@inject NavigationManager nav

<h3 class="titulo">Lista de Productos</h3>

<div class="card">
    <table>
        <tr>
            <td>Producto</td>
            <td>Tipo de consumo</td>
            <td>Cantidad</td>
            <td>Precio</td>
        </tr>
        @foreach (var p in logica.Prod)
        {
            <tr>
                <td>@p.Productos</td>
                <td>@p.Tipo.ToString()</td>
                @if (p.Tipo.Equals(Tipo.Promedio))
                {
                    <td>@p.StockProd.Cantidad</td>
                    <td>@p.StockProd.Precio</td>
                }
                @if (p.Tipo.Equals(Tipo.Fifo))
                {
                    <td>
                        @foreach (var a in p.StocksFIfo)
                        {
                            <div>@a.Cantidad</div>
                        }
                    </td>
                    <td>
                        @foreach (var a in p.StocksFIfo)
                        {
                            <div>@a.Precio</div>
                        }
                    </td>
                }
                <td><button class="btn btn-primary" @onclick="(()=>Eliminar(p))">Eliminar</button></td>
                <td><button class="btn btn-primary" @onclick="(()=>Sumar(p))">Actualizar</button></td>
            </tr>
        }
    </table>
    <button class="btn btn-primary" @onclick="Descargar">Descargar</button>
</div>

@code {
    public LogProductos logica = new LogProductos();
    protected override async Task OnInitializedAsync()
    {
        await logica.Cargar();
    }
    public void Sumar(Producto p){
        string d=p.Productos;
        nav.NavigateTo($"/addprod/{d}");
        
    }
    public async Task Eliminar(Producto p)
    {
        logica.Prod.Remove(p);
        await logica.Guardar();
    }
    public async Task Descargar(){
        await logica.DescargarProductos();
        
    }
}
